html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: rgb(30, 30, 30);
	color: rgb(225, 225, 225);
}

.disable-select {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.header {
	background-color: rgb(57, 57, 57);
	width: 100%;
	margin: 0;
	padding: 2.5px 0 2.5px 15px;
}

.menu-item {
	padding: 5px 10px;
	cursor: pointer;
}

.menu-item:hover {
	background-color: rgb(25, 25, 125);
	color: white;
}

.submenu {
	position: absolute;
	min-width: 150px;
	background-color: rgb(57, 57, 57);
	padding: 0;
	margin: 0;
}

.submenu .submenu-item  {
	cursor: pointer;
	padding: 5px;
}

.subitem-title {
	padding-right: 10px;
}

.shortcut {
	float: right;
}

.submenu .submenu-item:hover {
	background-color: rgb(25, 25, 125);
	color: white;
}

.body {
	position: absolute;
	width: 100%;
	height: calc(100% - 20px);
	margin: 0;
	padding: 0;
	font-size: 0;
}

.files {
	display: inline-block;
	width: 300px;
	overflow: auto;
	background-color: rgb(30, 30, 30);
	height: 100%;
	font-size: 14px;
	padding: 0 0 0 15px;
}

.files ul {
	padding-left: 4px;
	margin: 0;
}

.files li {
	list-style-type: none;
	padding: 0 2px;
	border: 1px solid rgba(0,0,0,0);
	cursor: pointer;
}

.files li.selected-file {
	border: 1px solid rgb(75, 175, 255);
	background-color: rgb(25, 25, 125);
}

.resize {
	display: inline-block;
	width: 6px;
	cursor: e-resize;
	height: 100%;
	vertical-align: top;
}

.resize div {
	background-color: rgb(125, 125, 125);
	width: 2px;
	margin-left: 2px;
	height: 100%;
}

.main-editor {
	position: absolute;
	display: inline-block;
	width: calc(100% - 307px);
	height: 100%;
}

.main-editor-tabs {
	width: 100%;
	height: 20px;
	margin: 0;
	padding: 0;
	background-color: rgb(57, 57, 57);
}

.main-editor-tabs div {
	display: inline-block;
	padding: 4px;
	min-width: 100px;
	font-size: 14px;
	margin: 0 1px 0 0;
	cursor: pointer;
}

.main-editor-tabs div.selected-tab {
	background-color: rgb(30, 30, 30);
}

.main-editor-body {
	width: 100%;
	height: calc(100% - 20px);
}

.popup {
	position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(57,57,57);
    /*padding: 5px 20px;*/
    border: 2px solid gray;
    border-radius: 10px;
}

.popup > div {
	padding: 5px 20px;
}

.popup-title {
	padding-bottom: 15px;
	background-color: rgb(87,87,87);
}

.popup-title span {
	font-weight: bold;
}

.popup-title .popup-close {
	float: right;
}

.popup-footer {
	padding: 10px;
	float: right;
}

.button {
	background-color: rgb(125, 125, 125);
	border: none;
	color: white;
	padding: 5px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	margin-left: 5px;
    width: 58px;
}

.button:hover {
	opacity: 0.75;
}

.close-button {
	color: rgb(255,0,0);
	background-color: rgba(0,0,0,0);
	border: none;
	width: 15px;
	height: 15px;
	padding: 0;
	float: right;
	cursor: pointer;
	border-radius: 3px;
	transition-duration: 0.5s;
}

.close-button:hover {
	background-color: rgb(0, 0, 0);
}

.new-file-popup p {
	padding: 5px;
	margin: 0;
}

.new-file-popup span {
	display: inline-block;
	width: 90px;
}

.new-file-popup select {
	width: 200px;
}

.new-file-popup input {
	width: 100px;
}

#new-file-message {
	background-color: rgb(100, 100, 100);
}

.msg-error {
	color: red;
}

.msg-success {
	color: rgb(0, 255, 0);
}
